/* stylelint-disable selector-class-pattern */
// <!--========HEADER START========  -->
.nav_1 {
  padding: 26px 0 22px;
  background-color: var(--neutral-color-10);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
  transition: 0.4s;

  &--bg-transparent {
    background-color: transparent;
  }

  &--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &--show {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &--up {
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 0;
  }

  &--background-transparent {
    background-color: transparent;
  }

  @include mobile {
    padding: 0;
  }

  &_1 {
    @include flex-all-between;
  }

  &_1_1 {
    position: relative;
    z-index: var(--z-index-4);
    max-width: 70px;

    & img {
      @include mobile {
        padding-top: 10px;
        max-width: 40px;
      }
    }
  }

  &_1_1_1 {
    @include flex-align-center;
    gap: 111px;

    @include tablet {
      gap: 60px;
    }

    @include small-tablet {
      position: fixed;
      top: 0;
      left: -100vw;
      z-index: var(--z-index-3);
      flex-direction: column;
      justify-content: center;
      width: 80dvw;
      height: 100dvh;
      background-color: var(--neutral-color-10);
      opacity: 0;
      visibility: hidden;
      transition:
        left var(--transition),
        opacity var(--transition),
        visibility var(--transition);

      &--visible {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &_1_1_1_1 {
    &_1 {
      @include flex-align-center;
      gap: 32px;

      @include small-tablet {
        gap: 20px;
        flex-direction: column;
      }

      @include mobile {
        gap: 10px;
      }

      &_1 {
        position: relative;
        font-weight: 500;
        line-height: 162%;
        color: var(--neutral-color-100);

        @include small-tablet {
          font-size: 20px;
          line-height: 200%;
        }

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: -5px;
          left: 0;
          height: 1px;
          background: var(--neutral-color-100);
          opacity: 0;
          visibility: hidden;
          transition:
            opacity var(--transition),
            visibility var(--transition);
        }

        &:hover {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.overlay {
  @include small-tablet {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-3);
    background-color: #00000054;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--transition),
      visibility var(--transition);

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nav_1_1_1_1_1_1_1_1_1 {
  @include nav_1_1_1_1_1_1_1_1_1;
}
/* stylelint-disable-next-line scss/double-slash-comment-empty-line-before */
// <!--========HEADER END========  -->
