<!--========FOOTER START========  -->
<footer class="footer_1">
  <div class="container">
    <div class="footer_1_1">
      <div class="footer_1_1_1">
        <a class="footer_1_1_1_1" href="/" aria-label="Home page">
          <img
            loading="lazy"
            src="./assets/image/footer_1_img_1.png"
            width="80"
            height="42"
            alt="Website logo"
          />
        </a>
        <p class="footer_1_1_1_1_1 text-p-default" id="footer_1_2_1_2_text">
          We built an elegant solution. Our team created a fully integrated
          sales and marketing solution for SMBs
        </p>
      </div>
      <nav class="footer_1_1_1_1_1_1 text-p-default">
        <ul class="footer_1_1_1_1_1_1_1 accordion-list" data-accordion="list">
          <li class="footer_1_1_1_1_1_1_1_1" id="footer_1_3_1_1_text">
            <button class="footer_1_1_1_1_1_1_1_1_1">
              <span id="footer_1_1_1_1_1_1_1_1_1_1_text">Company</span>
            </button>
            <ul class="footer_1_1_1_1_1_1_1_1_1_1_1">
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="/"
                  id="footer_1_3_1_1_2_1_1_text"
                  >Home</a
                >
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#services"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  Services
                </a>
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#about"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  About
                </a>
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#contact"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  Contact
                </a>
              </li>
            </ul>
          </li>
          <li class="footer_1_1_1_1_1_1_1_1">
            <button class="footer_1_1_1_1_1_1_1_1_1">
              <span id="footer_1_1_1_1_1_1_1_1_1_1_text">Product</span>
            </button>
            <ul class="footer_1_1_1_1_1_1_1_1_1_1_1">
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#"
                  id="footer_1_3_1_1_2_1_1_text"
                  >Sales Software</a
                >
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#"
                  id="footer_1_3_1_1_2_1_1_text"
                  >Marketplace</a
                >
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#"
                  id="footer_1_3_1_1_2_1_1_text"
                  >Terms & Conditions</a
                >
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#"
                  id="footer_1_3_1_1_2_1_1_text"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </li>
          <li class="footer_1_1_1_1_1_1_1_1 footer_1_1_1_1_1_1_1_1--contact">
            <button class="footer_1_1_1_1_1_1_1_1_1" id="footer_1_3_1_1_1_text">
              <span id="footer_1_1_1_1_1_1_1_1_1_1_text">Our Contacts</span>
            </button>
            <ul class="footer_1_1_1_1_1_1_1_1_1_1_1">
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="#"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  Malaysia, Kuala Lumpur, Jalan Ampang, Menara Citibank, 22nd
                  floor, Suite 2201.
                </a>
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="tel:+600146732992"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  +60 014 6732992
                </a>
              </li>
              <li class="footer_1_1_1_1_1_1_1_1_1_1_1">
                <a
                  class="footer_1_1_1_1_1_1_1_1_1_1_1_1"
                  href="mailto:support@domain.com"
                  id="footer_1_3_1_1_2_1_1_text"
                >
                  support@domain.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer_1_1_1_1_1_1_1_1_1_1_1_1_1">
      <div
        class="footer_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
        id="footer_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
      >
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>
<!--========FOOTER END========  -->
