<!--========HEADER START========  -->
<div class="overlay" id="overlay_text" data-burger="overlay"></div>
<header
  class="nav_1 nav_1--fixed nav_1--show nav_1--background-transparent"
  data-scroll="nav_1"
  id="header_text"
>
  <div class="container nav_1_1">
    <a href="#" class="nav_1_1_1" aria-label="Home page">
      <img
        loading="lazy"
        src="./assets/image/header_1_img_1.png"
        width="80"
        height="42"
        alt="Website logo"
      />
    </a>
    <div class="nav_1_1_1_1" data-burger="menu">
      <nav class="nav_1_1_1_1_1">
        <ul class="nav_1_1_1_1_1_1">
          <li class="nav_1_1_1_1_1_1_1">
            <a
              class="nav_1_1_1_1_1_1_1 text-p-default"
              href="#"
              id="nav_1_1_1_1_1_1_1_text"
              >Home</a
            >
          </li>
          <li class="nav_1_1_1_1_1_1_1 text-p-default">
            <a
              class="nav_1_1_1_1_1_1_1"
              href="#about"
              id="nav_1_1_1_1_1_1_1_1_text"
              >About</a
            >
          </li>
          <li class="nav_1_1_1_1_1_1_1 text-p-default">
            <a
              class="nav_1_1_1_1_1_1_1"
              href="#services"
              id="nav_1_1_1_1_1_1_1_1_1_text"
              >Services</a
            >
          </li>
          <li class="nav_1_1_1_1_1_1_1 text-p-default">
            <a
              class="nav_1_1_1_1_1_1_1"
              href="#contact"
              id="nav_1_1_1_1_1_1_1_1_1_1_text"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <button
      class="nav_1_1_1_1_1_1_1_1_1"
      data-burger="btn"
      aria-label="Burger Menu"
    >
      <span class="nav_1_1_1_1_1_1_1_1_1_1"></span>
    </button>
  </div>
</header>
<!--========HEADER END========  -->
