<!--========ABOUT START========  -->
<section class="about_1">
  <div class="container about_1_1">
    <div>
      <img
        loading="lazy"
        src="./assets/image/features-img.jpg"
        width="585"
        height="651"
        alt="Woman typing on laptop"
      />
    </div>
    <div class="about_1_1_1">
      <h2 class="about_1_1_1_1 heading-h2" id="about_1_1_1_1_text">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="about_1_1_1_1_1 text-p-medium" id="about_1_1_1_1_1_text">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_text">
            Close more deals with single - page contact managment
          </p>
        </li>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_1_text">
            Enjoy one-click calling, call scripts and voicemail automation
          </p>
        </li>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_1_1_text">
            Take stages and milestones of your deals to keep the sales process
            an track
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--========ABOUT END========  -->
