<!--========ABOUT START========  -->
<section class="about_1" id="about">
  <div class="container about_1_1">
    <div>
      <img
        loading="lazy"
        src="./assets/image/about_1_img_1.jpg"
        width="585"
        height="651"
        alt="Woman typing on laptop"
      />
    </div>
    <div class="about_1_1_1">
      <h2 class="about_1_1_1_1 heading-h2" id="about_1_1_1_1_text">
        Committed to driving growth and success for your business
      </h2>
      <p class="about_1_1_1_1_1 text-p-medium" id="about_1_1_1_1_1_text">
        Streamline operations with our all-in-one solution. Ensure smooth
        workflows and enhance communication across teams.
      </p>
      <ul>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_text">
            Improve collaboration with easy-to-use project management tools
          </p>
        </li>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_1_text">
            Boost productivity with seamless integrations and time-saving
            features
          </p>
        </li>
        <li class="about_1_1_1_1_1_1">
          <p class="text-p-medium" id="about_1_1_1_1_1_1_1_1_1_text">
            Track progress and results with real-time analytics and insights
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--========ABOUT END========  -->
