<!--========CONTACT START========  -->
<section class="contact" id="get-started">
  <div class="container contact__container">
    <div class="contact__form-wrapper">
      <h3 class="contact__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="contact__form-text text-p-medium">
        You can reach us anytime
        <a
          class="contact__form-link"
          href="mail:hellosansbrothers@gmail.com"
        >
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="contact__form" id="form">
        <div class="contact__form-top">
          <label class="contact__form-label text-p-small">
            <span class="contact__form-label-text text-p-small">
              First name
            </span>
            <input
              type="text"
              id="first-name"
              required
              class="contact__form-input text-p-small contact__form-input--small"
              name="first name"
              placeholder="First name"
            />
            <small class="contact__form-label-error"></small>
          </label>
          <label class="contact__form-label text-p-small">
            <span class="contact__form-label-text text-p-small">
              Last name
            </span>
            <input
              type="text"
              required
              class="contact__form-input text-p-small contact__form-input--small"
              name="last name"
              id="last-name"
              placeholder="Last name"
            />
            <small class="contact__form-label-error"></small>
          </label>
        </div>
        <label class="contact__form-label text-p-small">
          <span class="contact__form-label-text text-p-small"> Email </span>
          <input
            type="email"
            required
            class="contact__form-input text-p-small"
            name="email"
            id="email"
            placeholder="you@company.com"
          />
          <small class="contact__form-label-error"></small>
        </label>
        <label class="contact__form-label text-p-small">
          <span class="contact__form-label-text text-p-small">
            Phone number
          </span>
          <input
            id="phone"
            type="tel"
            required
            class="contact__form-input text-p-small"
            name="phone"
            itemid="phone"
            placeholder=""
          />
          <small class="contact__form-label-error"></small>
        </label>
        <label class="contact__form-label text-p-small">
          <span class="contact__form-label-text text-p-small">
            Message
          </span>
          <textarea
            type="text"
            maxlength="600"
            class="contact__form-input contact__form-input--textarea text-p-small"
            name="messaget"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="contact__form-btn button-form">Get Starded</button>
      </form>
    </div>
    <img
      loading="lazy"
      src="/assets/image/get-started-img.jpg"
      class="contact__img"
      width="987"
      height="885"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
<!--========CONTACT END========  -->
