<!--========PRICE START========  -->
<section class="price_1">
  <div class="price_1__top pricing-decor price_1_1">
    <div class="container price_1_1_1">
      <h2
        class="price_1__title text-p-default price_1_1_1_1"
        id="price_1_1_1_1_text"
      >
        Pricing plans 🤑
      </h2>
      <p
        class="price_1__desc heading-h1 price_1_1_1_1_1"
        id="price_1_1_1_1_1_text"
      >
        Choose a plan for a more advanced business
      </p>
    </div>
  </div>
  <div class="container price_1_1_1_1_1_1">
    <ul class="price_1__plans price_1_1_1_1_1_1_1">
      <li class="price_1__item price_1_1_1_1_1_1_1_1">
        <div class="price_1__plans-icon price_1_1_1_1_1_1_1_1">
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.31802 2.31802C0.56066 4.07538 0.56066 6.92462 2.31802 8.68198L10.0001 16.364L17.682 8.68198C19.4393 6.92462 19.4393 4.07538 17.682 2.31802C15.9246 0.56066 13.0754 0.56066 11.318 2.31802L10.0001 3.63609L8.68198 2.31802C6.92462 0.56066 4.07538 0.56066 2.31802 2.31802Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3
          class="price_1__plans-title text-p-large price_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_text"
        >
          Starter
        </h3>
        <p
          class="price_1__plans-desc text-p-default price_1_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_1_text"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="price_1__plans-price heading-h2 price_1_1_1_1_1_1_1_1_1_1_1"
        >
          <span
            data-price="starter"
            class="price_1_1_1_1_1_1_1_1_1_1_1_1"
            id="price_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            $100
          </span>
          <span
            class="price_1__plans-price-text text-p-default price_1_1_1_1_1_1_1_1_1_1_1_1_1"
            data-price="plan"
            >/year</span
          >
        </div>
      </li>
      <li class="price_1__item price_1__item--popular price_1_1_1_1_1_1_1_1">
        <div
          class="price_1__plans-icon price_1__plans-icon--popular price_1_1_1_1_1_1_1_1"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 10V3L4 14H11L11 21L20 10L13 10Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3
          class="price_1__plans-title price_1__plans-title--popular text-p-large price_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_1_1_1_text"
        >
          Popular
        </h3>
        <p
          class="price_1__plans-desc text-p-default price_1_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="price_1__plans-price price_1__plans-price--popular heading-h2"
        >
          <span
            data-price="popular price_1_1_1_1_1_1_1_1_1_1"
            id="price_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            $1400
          </span>
          <span
            class="price_1__plans-price-text text-p-default price_1_1_1_1_1_1_1_1_1_1_1"
            data-price="plan"
            >/year</span
          >
        </div>
      </li>
      <li class="price_1__item price_1_1_1_1_1_1_1_1">
        <div class="price_1__plans-icon price_1_1_1_1_1_1_1_1_1">
          <svg
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 6L2.304 7.043C2.75828 7.40635 3.28636 7.66624 3.85139 7.80456C4.41643 7.94287 5.00484 7.95628 5.57559 7.84384C6.14634 7.7314 6.6857 7.49583 7.15606 7.15355C7.62642 6.81126 8.01647 6.3705 8.299 5.862L11 1L13.701 5.862C13.9836 6.37042 14.3737 6.81109 14.8441 7.15328C15.3145 7.49546 15.8539 7.73093 16.4247 7.84327C16.9954 7.95561 17.5838 7.94212 18.1488 7.80373C18.7138 7.66534 19.2418 7.40539 19.696 7.042L21 6L19.246 14.77C19.1694 15.1527 19.0065 15.5129 18.7696 15.8231C18.5327 16.1333 18.2281 16.3854 17.879 16.56C15.7432 17.628 13.388 18.184 11 18.184C8.61202 18.184 6.25684 17.628 4.121 16.56C3.77193 16.3854 3.46733 16.1333 3.23043 15.8231C2.99353 15.5129 2.83058 15.1527 2.754 14.77L1 6Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7 13C9.596 14.333 12.404 14.333 15 13"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3
          class="price_1__plans-title text-p-large price_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
        >
          Enterprise
        </h3>
        <p
          class="price_1__plans-desc text-p-default price_1_1_1_1_1_1_1_1_1_1"
          id="price_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div
          class="price_1__plans-price heading-h2 price_1_1_1_1_1_1_1_1_1_1_1"
        >
          <span
            data-price="enterprice price_1_1_1_1_1_1_1_1_1_1_1_1"
            id="price_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            $2100
          </span>
          <span
            class="price_1__plans-price-text text-p-default price_1_1_1_1_1_1_1_1_1_1_1_1_1"
            data-price="plan"
            >/year</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
<!--========PRICE END========  -->
