<!--========REVIEWS START========  -->
<section class="reviews_1">
  <div class="container">
    <div class="reviews_1_1_1">
      <h2 class="reviews_1_1_1_1 heading-h2" id="reviews_1_1_1_1_text">
        What our customer are saying
      </h2>
      <p class="reviews_1_1_1_1_1 text-p-medium" id="reviews_1_1_1_1_1_text">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="reviews_1__slider-wrapper reviews_1_1_1_1_1_1">
      <div class="swiper reviews_1__slider reviews_1_1_1_1_1_1_1">
        <div class="swiper-wrapper reviews_1__comments reviews_1_1_1_1_1_1_1_1">
          <div
            class="swiper-slide reviews_1__comment reviews_1_1_1_1_1_1_1_1_1"
          >
            <div class="reviews_1__rating reviews_1_1_1_1_1_1_1_1_1_1">
              <img
                loading="lazy"
                width="232"
                height="20"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              <span
                class="reviews_1__rating-num text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1"
              >
                5.0
              </span>
            </div>
            <p
              class="reviews_1__comment-text heading-h3 reviews_1_1_1_1_1_1_1_1_1_1_1_1"
              id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              “With Agency the results are very satisfying. Wrapped with high
              quality and innovative design that makes a surge of visitors on my
              website.”
            </p>
            <address
              class="reviews_1__comment-author reviews_1_1_1_1_1_1_1_1_1_1_1_1"
            >
              <div
                class="reviews_1__comment-author-info reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
              >
                <p
                  class="reviews_1__comments-author-name text-p-medium reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  Renee Wells
                </p>
                <p
                  class="reviews_1__comments-author-profession text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>

          <div
            class="swiper-slide reviews_1__comment reviews_1_1_1_1_1_1_1_1_1"
          >
            <div class="reviews_1__rating reviews_1_1_1_1_1_1_1_1_1_1">
              <img
                loading="lazy"
                width="232"
                height="20"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              <span
                class="reviews_1__rating-num text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1"
              >
                5.0
              </span>
            </div>
            <p
              class="reviews_1__comment-text heading-h3 reviews_1_1_1_1_1_1_1_1_1_1_1_1"
              id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              “The service exceeded my expectations. The team delivered
              top-notch quality with great attention to detail, resulting in a
              significant increase in engagement.”
            </p>
            <address
              class="reviews_1__comment-author reviews_1_1_1_1_1_1_1_1_1_1_1_1"
            >
              <div
                class="reviews_1__comment-author-info reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
              >
                <p
                  class="reviews_1__comments-author-name text-p-medium reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  John Smith
                </p>
                <p
                  class="reviews_1__comments-author-profession text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  Marketing Specialist, WebWorks
                </p>
              </div>
            </address>
          </div>

          <div
            class="swiper-slide reviews_1__comment reviews_1_1_1_1_1_1_1_1_1"
          >
            <div class="reviews_1__rating reviews_1_1_1_1_1_1_1_1_1_1">
              <img
                loading="lazy"
                width="232"
                height="20"
                src="./assets/icons/rating-icon.svg"
                alt="Five stars"
              />
              <span
                class="reviews_1__rating-num text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1"
              >
                5.0
              </span>
            </div>
            <p
              class="reviews_1__comment-text heading-h3 reviews_1_1_1_1_1_1_1_1_1_1_1_1"
              id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              “Working with this agency has been a game-changer. The results
              were incredible, and they took the time to understand our vision.
              Highly recommend!”
            </p>
            <address
              class="reviews_1__comment-author reviews_1_1_1_1_1_1_1_1_1_1_1_1"
            >
              <div
                class="reviews_1__comment-author-info reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
              >
                <p
                  class="reviews_1__comments-author-name text-p-medium reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  Maria Smith
                </p>
                <p
                  class="reviews_1__comments-author-profession text-p-default reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1"
                  id="reviews_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
                >
                  UX/UI Designer, Creative Agency
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="reviews_1__btns">
        <div class="reviews_1__btn reviews__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
              fill="black"
            />
          </svg>
        </div>
        <div class="reviews_1__btn reviews__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<!--========REVIEWS END========  -->
