<!--========TEAM START========  -->
<section class="team_1">
  <div class="container">
    <h2 class="team_1_1 heading-h2" id="team_1_1_text">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="team_1_1_1 text-p-medium" id="team_1_1_1_text">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </p>
    <div class="swiper team_1_1_1_1 team__slider">
      <div class="swiper-wrapper team_1_1_1_1_1">
        <div class="swiper-slide team_1_1_1_1_1_1">
          <img
            loading="lazy"
            class="team__slide-img team_1_1_1_1_1_1_1"
            width="379"
            height="434"
            src="./assets/image/team_1_img_1.jpg"
          />
          <div class="team_1_1_1_1_1_1_1_1 text-p-large">
            <div
              class="team_1_1_1_1_1_1_1_1_1"
              id="team_1_1_1_1_1_1_1_1_1_text"
            >
              Arlyne Stefano
            </div>
          </div>
          <p
            class="team_1_1_1_1_1_1_1_1_1_1 text-p-medium"
            id="team_1_1_1_1_1_1_1_1_1_1_text"
          >
            Founder & CEO
          </p>
        </div>
        <div class="swiper-slide team_1_1_1_1_1_1">
          <img
            loading="lazy"
            class="team__slide-img"
            width="379"
            height="434"
            src="./assets/image/team_1_img_2.jpg"
          />
          <div class="team_1_1_1_1_1_1_1_1 text-p-large">
            <div
              class="team_1_1_1_1_1_1_1_1_1"
              id="team_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              Katy Cristy
            </div>
          </div>
          <p
            class="team_1_1_1_1_1_1_1_1_1_1 text-p-medium"
            id="team_1_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team_1_1_1_1_1_1">
          <img
            loading="lazy"
            class="team__slide-img"
            width="379"
            height="434"
            src="./assets/image/team_1_img_3.jpg"
          />
          <div class="team_1_1_1_1_1_1_1_1 text-p-large">
            <div
              class="team_1_1_1_1_1_1_1_1_1"
              id="team_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              Roger Dzawin
            </div>
          </div>
          <p
            class="team_1_1_1_1_1_1_1_1_1_1 text-p-medium"
            id="team_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            Chief Technology Officer
          </p>
        </div>
        <div class="swiper-slide team_1_1_1_1_1_1">
          <img
            loading="lazy"
            class="team__slide-img"
            width="379"
            height="434"
            src="./assets/image/team_1_img_4.jpg"
          />
          <div class="team_1_1_1_1_1_1_1_1 text-p-large">
            <div
              class="team_1_1_1_1_1_1_1_1_1"
              id="team_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
            >
              Roger Dzawin
            </div>
          </div>
          <p
            class="team_1_1_1_1_1_1_1_1_1_1 text-p-medium"
            id="team_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_text"
          >
            Chief Technology Officer
          </p>
        </div>
      </div>
      <div class="team_1__btn--prev">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.6665 15.3333L1.99983 8.66667L8.6665 2"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="team_1__btn--next">
        <svg
          width="11"
          height="17"
          viewBox="0 0 11 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.99984 2L8.6665 8.66667L1.99984 15.3333"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
<!--========TEAM END========  -->
